.img-slide{
    height: 300px;
}

@font-face{
    font-family: Kaushan Script;
    src: url("../fonts/KaushanScript-Regular.ttf");
}

.font-slide{
    font-family: Kaushan Script;
}

div .card-border{
    border: 1px solid violet;
}

div .card-border1{
    border-top: 1px solid violet;
}

div .color-title{
    color: rgb(170, 37, 170);
}
