.galleyimages {
    transition: background-color .5s;
}

.galleyimages:hover {
    color:cyan;
    font-size: x-large;
}

.img-contenedor img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:50%;
    }
    .img-contenedor:hover img {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
    }
    .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/

    overflow:hidden;
    }