body {
    margin: 0;
}

* {
    box-sizing: border-box;
}



.bg-nav {
    background-color: rgb(170, 37, 170);
}

@font-face {
    font-family: Dancing Script;
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

nav .font-nav {
    font-family: Dancing Script;
    transform: rotate(-10deg);
    font-size: 25px;
}

.font-footer {
    font-family: Dancing Script;
    font-size: 1.5rem;
}

li .btn-nav {
    color: #cf9b58;
    border-color: #cf9b58;
    font-weight: bold;
}

footer {
    color: #fff;
}

li a {
    color: #fff;
}

li a:hover {
    color: #cf9b58;
}

.fab {
    font-size: 2rem;
}